In [4]:
# Phrase - Tomato 
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [7]:
phrase_tomato = pd.read_csv('results(phrase - Tomato).csv')
phrase_tomato

        image  GT  Prediction
0    0000.JPG   8           4
1    0001.JPG  15           1
2    0002.JPG  61           5
3    0003.JPG  12           4
4    0004.JPG  14           4
..        ...  ..         ...
515  0515.JPG  31           2
516  0516.JPG  20           8
517  0517.JPG  21           2
518  0518.JPG   9           6
519  0519.JPG   9           2

[520 rows x 3 columns]

In [ ]:
y_true = phrase_tomato['GT']
y_pred = phrase_tomato['Prediction']

mae = mean_absolute_error(y_true, y_pred)
mse = mean_squared_error(y_true, y_pred)
r2 = r2_score(y_true, y_pred)

print(f"MAE (Mean Absolute Error): {mae:.4f}")
print(f"MSE (Mean Squared Error): {mse:.4f}")
print(f"R2 Score: {r2:.4f}")

MAE (Mean Absolute Error): 12.3942
MSE (Mean Squared Error): 254.0096
R2 Score: -1.5549

In [6]:
np.sqrt(254.0096)

np.float64(15.937678626449964)

In [9]:
# Phrase - tomatoes 
phrase_tomatoes = pd.read_csv('results(phrase - Tomatoes).csv')
phrase_tomatoes

        image  GT  Prediction
0    0000.JPG   8           6
1    0001.JPG  15           1
2    0002.JPG  61           0
3    0003.JPG  12           1
4    0004.JPG  14           3
..        ...  ..         ...
515  0515.JPG  31           2
516  0516.JPG  20           3
517  0517.JPG  21           3
518  0518.JPG   9           7
519  0519.JPG   9           2

[520 rows x 3 columns]

In [10]:
y_true = phrase_tomatoes['GT']
y_pred = phrase_tomatoes['Prediction']

mae = mean_absolute_error(y_true, y_pred)
mse = mean_squared_error(y_true, y_pred)
r2 = r2_score(y_true, y_pred)

print(f"MAE (Mean Absolute Error): {mae:.4f}")
print(f"MSE (Mean Squared Error): {mse:.4f}")
print(f"R2 Score: {r2:.4f}")

MAE (Mean Absolute Error): 12.5923
MSE (Mean Squared Error): 270.2231
R2 Score: -1.7180

In [11]:
np.sqrt(270.2231)

np.float64(16.438464040171148)

In [12]:
# Phrase - fruit 
phrase_fruit = pd.read_csv('results(phrase-Fruit).csv')
phrase_fruit

        image  GT  Prediction
0    0000.JPG   8           6
1    0001.JPG  15           8
2    0002.JPG  61           0
3    0003.JPG  12           0
4    0004.JPG  14           4
..        ...  ..         ...
515  0515.JPG  31           3
516  0516.JPG  20           7
517  0517.JPG  21           8
518  0518.JPG   9           9
519  0519.JPG   9           2

[520 rows x 3 columns]

In [13]:
y_true = phrase_fruit['GT']
y_pred = phrase_fruit['Prediction']

mae = mean_absolute_error(y_true, y_pred)
mse = mean_squared_error(y_true, y_pred)
r2 = r2_score(y_true, y_pred)

print(f"MAE (Mean Absolute Error): {mae:.4f}")
print(f"MSE (Mean Squared Error): {mse:.4f}")
print(f"R2 Score: {r2:.4f}")

MAE (Mean Absolute Error): 11.8058
MSE (Mean Squared Error): 238.9942
R2 Score: -1.4039

In [14]:
np.sqrt(238.9942)

np.float64(15.45943724719629)